node_modules/
dist/
release/
android/keystore.properties
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/.idea/
android/app/release/
android/app/debug/
ios/App/Pods/
ios/App/build/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/DerivedData/
.DS_Store
*.log
store/screenshots/*-dark.png
